{% extends "_base.html" %}

{% block body %}
<form method="post">
    <p> 
    <button id="addVar">Add Variable</button>
    <label for="varName">Variable:</label><input required id="varName" type="text"></input>
    </p>
    <input id="submit" type="submit" value="Check">
</form>
<div id="response">
</div>
{% endblock %}


{% block js %}
<script>
    var getVariable = function(varName) {
        return '<p><label for="' + varName + '">' + varName + '</label><input class="value" type="number" name="' + varName + '" id="' + varName + '"><button class="removeVar">Remove Variable</button></p>';
    }

    var vars = {};

    $('form').on('click', '.removeVar', function() {
        var varName = $(this).prev().prev().text();
        delete vars[varName];
        $(this).parent().remove();

    });

    $('#addVar').click(function(e){
        e.preventDefault();

        var varName = $("#varName").val();
        if (varName && !(varName in vars)) {
            var $node = getVariable(varName);
            vars[varName] = true;
            $(this).parent().before($node);
        }
    });

    $("#submit").click(function(e) {
        e.preventDefault();

        var data = {};
        $(".value").each(function(i, node) {
            var $node = $(node);
            var k = $node.prev().text();
            data[k] = $node.val();
        });

        $.get("/physics.json", data, function(rv) {
            $("#response").text(rv);
        });
    })

    $("#varName").typeahead({
        source: ["f", "m", "a", "dyf", "ay", "t", "vy0", "dy0", "vyf", "dy", "v0", "angle", "pressure", "number_molecules", "conductivity", "temperature", "volume", "kinetic_avg", "v_rms"],
    });
</script>
{% endblock %}
