{% extends "_base.html" %}

{% block body %}
<div class="container">
<h1>General Physics Solver</h1>
<h3>Directions</h3>
<p>Solve any physics problem, automatically.</p>
<ol>
    <li>Add the variables you know.</li>
    <li>Fill out their values.</li>
    <li>Add the variables you don't know.</li>
    <li>Press check.</li>
</ol>
<form method="post">
    <p> 
    <button id="addVar">Add Variable</button>
    <label for="varName">Variable:</label><input required id="varName" type="text"></input>
    </p>
    <input id="submit" type="submit" value="Check">
</form>
<div id="response">
    <h2>Value</h2>
    <p><span id="desired"></span> = <span id="compound"></span> = <span id="value"></span></p>
    <h2>Equations used</h2>
    <ol id="equations"></ol>
</div>
</div>
{% endblock %}


{% block js %}
<script>
    var getVariable = function(varName) {
        return '<p><label for="' + varName + '">' + varName + '</label><input class="value" type="number" name="' + varName + '" id="' + varName + '"><button class="removeVar">Remove Variable</button></p>';
    }

    var vars = {};

    $('form').on('click', '.removeVar', function() {
        var varName = $(this).prev().prev().text();
        delete vars[varName];
        $(this).parent().remove();

    });

    $('#addVar').click(function(e){
        e.preventDefault();

        var varName = $("#varName").val();
        if (varName && !(varName in vars)) {
            var $node = getVariable(varName);
            vars[varName] = true;
            $(this).parent().before($node);
        }
    });

    var showResult = function(value, equations, desired, compound) {
        var i;
        var $response = $("#equations");
        $response.empty();
        $("#value").text(value);
        $("#desired").text(desired);
        $("#compound").text(compound);
        for (i = 0; i < equations.length; i++) {
            $response.append('<li>' + equations[i] + '</li>');
        }
    };

    $("#submit").click(function(e) {
        e.preventDefault();

        var data = {};
        $(".value").each(function(i, node) {
            var $node = $(node);
            var k = $node.prev().text();
            data[k] = $node.val();
        });

        $.get("/physics.json", data, function(rv) {
            data = JSON.parse(rv)
            showResult(data.value, data.eqs, data.desired, data.compound);
        });
    })

    $("#varName").typeahead({
        source: ["f", "m", "a", "dyf", "ay", "t", "vy0", "dy0", "vyf", "dy", "v0", "angle", "pressure", "number_molecules", "conductivity", "temperature", "volume", "kinetic_avg", "v_rms"],
    });
</script>
{% endblock %}
